/*** fonts  ***/

$font-primary: 'Space Mono', monospace;

/*** Colors ***/
$color-light-blue: #0079ff;
$color-gray: #697c9a;
$color-blue-gray: rgb(75, 106, 155);
$color-dark-blue: #2a3341;
$color-light-gray: #f6f8ff;
$color-white: #fefefe;

$color-black-darkmode: #141d2f;
$color-dark-blue-darkmode: #1e2a47;
